<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
    td {padding: 10px;}
    </style>
</head>
<body style="background-color: #5f5f5f; height: 100%">
    <div class="container-fluid" style="background-color: #ffffff; height: 100%">
        <div style="height: 100%; min-height: 100%">
            <div class="container" style="background-color: #b3b3b3">
                <table>
                    <tr>
                        <form id="addVisitForm">
                            <td><input id="newVisitDate" type="text"/></td>
                            <td><input id="newVisitDoctor" type="text"/></td>
                            <td><input id="newVisitProcedure" type="text"/></td>
                            <td><input type="submit"/></td>
                        </form>
                        <td><button id="delButton">Delete</button></td>
                        <td><button id="logButton">Logout</button></td>
                    </tr>
                    <form id="contentTable">
                        <div id="content"></div>
                    </form>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $.ajax({ 
                type: 'GET', 
                url: '/visits/patient/'+sessionStorage.getItem("username"), 
                data: {  }, 
                dataType: 'json',
                success: function (data) { 
                    $.each(data, function(index, element) {
                        var row = $('<tr>', {id: element._id});
                        row.append($('<input>', {type: "radio", name: "userDel", value: element._id}));
                        row.append($('<td>', {text: element.date}));
                        row.append($('<td>', {text: element.patient}));
                        $.each(element.roles, function(index2, element2) {
                            row.append($('<td>', {text: element2.type}));
                        });
                        $('#content').append(row);
                    });
                },
                headers: {
                    'Content-Type': 'application/json',
                    'Username': sessionStorage.getItem("username")
                }
            });
        });
        $("#delButton").click(function(){
            $.ajax({ 
                type: 'DELETE', 
                url: '/visits/'+$('input[name=userDel]:checked').val(), 
                crossDomain: true,
                success: function (data) { 
                    location.reload();
                },
                fail: function (data) { 
                    location.reload();
                },
                headers: {
                    'Content-Type': 'application/json',
                    'Username': sessionStorage.getItem("username")
                }
            });
        });
        $("#logButton").click(function(){
            sessionStorage.removeItem("username");
            window.parent.location.replace('/index.html');
        });
        $("#addVisitForm").submit(function(){
            var xdata;
            xdata = {};
            xdata["date"]=$("#newVisitDate").val();
            xdata["doctor"]=$("#newVisitDoctor").val();
            xdata["patient"]=sessionStorage.getItem("username");
            xdata["procedures"]={  };
            xdata["procedures"][0]=$("#newVisitProcedure").val();

            $.ajax({ 
                type: 'POST', 
                url: '/visits/', 
                data: JSON.stringify(xdata), 
                crossDomain: true,
                dataType: 'json',
                success: function (data) { 
                    location.reload();
                },
                headers: {
                    'Content-Type': 'application/json',
                    'Username': sessionStorage.getItem("username")
                }
            });

            e.preventDefault();
        });
    </script>
</body>
</html>